.exercise{
    .top{
        background-color: $greenA !important;
        background-image: url('images/icon-exercise.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}