.play{
    .top{
        background-color: $blueB !important;
        background-image: url('images/icon-play.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}