.self_care{
    .top{
        background-color: $orangeB !important;
        background-image: url('images/icon-self-care.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}