.social{
    .top{
        background-color: $purpleA !important;
        background-image: url('images/icon-social.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}