.study{
    .top{
        background-color: $redA !important;
        background-image: url('images/icon-study.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}