.work{
    .top{
        background-color: $orangeA !important;
        background-image: url('images/icon-work.svg');
        background-repeat: no-repeat;
        background-position:95% -15px;
    }
}